*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html, body{
    width: 100%;
    height: 100%;
}
#main{
    display: flex;
    height: 100%;
    width: 100%;
    background-image: url(https://images.unsplash.com/photo-1610362981886-f6e39beb3aaa?q=80&w=1474&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
    background-position: center;
    background-size: cover;
}
#left{
    width: 30%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.400);
}
#right{
    width: 70%;
    height: 100%;
}
#nav{
    display: flex;
    padding: 30px;
    position: absolute;
    align-items: first baseline;
    justify-content: space-between;
}
#nav #logo{
    display: flex;
    flex-direction: column;
}
#logo h2{
    color: #fff;
    text-transform: uppercase;
    letter-spacing: 2px;
}
#logo h6{
    color: #fff;
    font-weight: 100;
    align-items: center;
    font-size: 10px;
    letter-spacing: 2px;
}
#nav #pages{
    display: flex;
    flex-direction: row;
}
#pages a{
    margin-right: 30px;
    text-decoration: none;
    color: #fff;
}